*{
    font-family: "Comfortaa", sans-serif;
}
body{
    color: white !important;
    margin: 0;
    padding: 0;
    background-color: black !important;
}
.banner{
    background-image: url("/assets/images/belief.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    height: 600px;
    width: 95%;
    margin: 10px auto;
    border-radius: 20px;
    padding: 5%;
    background-attachment: fixed;
    color: black;
    font-weight: bold;
    background-position-y: 20%;
}

/* building future */

.build-future{
    display: flex !important;
    margin: 10% !important;
    align-items: center;
}

.build-future .text{
    padding-right: 5%;
}
.text h2{
    margin-bottom: 5% ;
    font-weight: lighter;
}
.text p{
    font-weight: lighter;
    font-size: small;
    line-height: 25px;
}

/* ad stand */

.AD-stand{
    width: 90%;
    margin: auto;
    text-align: center;
}
.AD-stand .main-text{
    width: 50%;
    margin: auto;
    flex-direction: column;
}
.AD-stand .main-text h3{
    margin-bottom: 5%;
}
.AD-stand .main-text p{
    font-weight: lighter;
    font-size: small;
    line-height: 25px;
}
.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.icons .icons-text{
    margin: 2% 3%;
    width: 200px;
}
.icons i{
    margin-bottom: 15%;
    background: linear-gradient(90deg, #5A76FE 0%, #FD02FD 100%);
    align-items: center;
    padding: 15%;
}

/* team */
.team-work{
    margin-top: 10%;
    position:  relative !important;
}
.team-work .team-image img{
    height: 500px;
    width: 100%;
    opacity: 0.4;
}
.text-team{
    position: absolute;
    top: 20%;
    left: 15%;
    width: 40%;
}
.text-team p{
    color: rgb(210, 210, 210);
}
.main-text{
    display: flex;
    align-items: center;
}

.text-team .main-text .v-line{
    height: 150px;
    width: 5px;
    background-color: #5A76FE;
    margin-right: 5%;
}

/* boxes */
.boxes{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.boxes .box{
    background-color: rgb(255, 255, 255);
    margin: 0 30px;
    width: 300px;
    height: 250px;
    padding: 15px;
    position: relative;
    color: black;
}
.box h1{
    background: linear-gradient(180deg, #FD02FD 0%, #5A76FE 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
    font-weight: bold;
}

.boxes .box .box-text{
   position: absolute;
   bottom: 0;
}

/* QUESTIONS */
.que{
    margin: 10%;
    text-align: center;
}
.que h3{
    border: 1px solid white;
    width: fit-content;
    margin: auto;
    padding: 1%;
    border-radius: 100px;
    color: #5A76FE;
}
.que p{
    margin-top: 2%;
    font-size: 80px;
    font-weight: bold;
}
